@{
    ViewBag.Title = "Registration Complete - Awaiting Approval";
}

<div class="col-sm-10 col-sm-offset-1" >
    <h1 class="success" style="margin-top:60px;">Registration Complete</h1>
    <p class="lead">Your registration has been completed successfully. Please give us time to approve your account.</p>
</div>
