<section class="row">

    <div class="col-md-10">
        <h3>
            Products
            <a data-toggle="modal" data-target="#addProductModal"><i class="fa fa-plus-circle pull-right"></i></a>
        </h3>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in products">
                    <td>{{product.Name}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-offset-1 col-md-5" >
        <h3>
            Modules
            <a data-toggle="modal" data-target="#addModuleModal"><i class="fa fa-plus-circle pull-right"></i></a>
        </h3>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="module in modules">
                    <td>{{module.Name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<section class="row">
    <div class="col-md-5">
        <h3>
            Topics
            <a data-toggle="modal" data-target="#addActivityModal"><i class="fa fa-plus-circle pull-right"></i></a>
        </h3>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Module</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="activity in activities">
                    <td>{{activity.ProductName}}</td>
                    <td>{{activity.ModuleName}}</td>
                    <td>{{activity.Name}}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<div id="addProductModal" class="modal fade" role="dialog" style="padding-top:120px;">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">New Product</h3>
            </div>
            <div class="modal-body">
                <form ng-submit="postActivity()">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Title" name="Name" ng-model="product.Name" required />
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" />
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
<div id="addModuleModal" class="modal fade" role="dialog" style="padding-top:120px;">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">New Module</h3>
            </div>
            <div class="modal-body">
                <form ng-submit="postModule()">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Title" name="Name" ng-model="module.Name" required />
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" />
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<div id="addActivityModal" class="modal fade" role="dialog" style="padding-top:120px;">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">New Topic</h3>
            </div>
            <div class="modal-body">
                <form ng-submit="postActivity()">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Title" name="Name" ng-model="activity.Name" required/>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Description" name="Description" ng-model="activity.Description" required></textarea>
                    </div>
                    <div class="form-group">
                        <select class="form-control">
                            <option disabled selected>Select a Module</option>
                            <option ng-repeat="module in modules" name="ModuleId" ng-model="activity.ModuleId" ng-value="module.Id">{{module.Name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" />
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>