<section class="row big-row">
    <div class="col-sm-6 col-sm-offset-2">

        <h3>Roles<a data-toggle="modal" data-target="#addRoleModal"><i class="fa fa-plus-circle pull-right"></i></a></h3>
        <table class="table table-responsive table-condensed table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="role in roles">
                    <td>
                        <span data-ng-show="!role.editMe">{{role.Name}}</span>
                        <input data-ng-show="role.editMe" class="form-control" data-ng-model="role.Name" />
                    </td>
                    <td class="right-align">
                        <button class="btn btn-primary" data-ng-show="!role.editMe" data-ng-click="role.editMe = true">Edit</button>
                        <button class="btn btn-danger" data-ng-show="!role.editMe" data-ng-click="deleteRole(role)" data-ng-disabled="role.HasRoles">Delete</button>
                        <button class="btn btn-primary" data-ng-show="role.editMe" data-ng-click="putRole(role); role.editMe=false;">Save</button>
                        <button class="btn btn-default" data-ng-show="role.editMe" data-ng-click="role.editMe = false">Cancel</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<div id="addRoleModal" class="modal fade" role="dialog" style="padding-top:120px;">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Add role</h3>
            </div>
            <div class="modal-body">
                <form ng-submit="postRole(postRoleObj)">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Title" name="Name" ng-model="postRoleObj.Name" required />
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" />
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
<div id="errorModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" style="padding-top:120px;">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="errorMessage.show=false">&times;</button>
                <h3 class="modal-title error ">Error</h3>
            </div>
            <div class="modal-body">
                <p>{{errorMessage.description}}</p>
                <button class="btn btn-default" ng-click="errorMessage.show=false">Ok</button>
            </div>
        </div>

    </div>
</div>